<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="attomdataloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="RealtyTracDataLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="attomdataloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="RealtyTracDataLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <userSettings>
    <attomdataloader.Properties.Settings>
      <setting name="BatchSize" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="NotifyAfter" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="RootFolderExt" serializeAs="String">
        <value>D:\RealtyTrac\Incoming\</value>
      </setting>
      <setting name="TaxAssessorPrefix" serializeAs="String">
        <value>TaxAssessor_</value>
      </setting>
      <setting name="ForeclosurePrefix" serializeAs="String">
        <value>Foreclosure_</value>
      </setting>
      <setting name="RecorderPrefix" serializeAs="String">
        <value>Recorder_</value>
      </setting>
      <setting name="TaxAssessorTable" serializeAs="String">
        <value>realtytrac.dbo.TaxAssessorImport</value>
      </setting>
      <setting name="ForeclosureTable" serializeAs="String">
        <value>realtytrac.dbo.ForeclosureImport</value>
      </setting>
      <setting name="RecorderTable" serializeAs="String">
        <value>realtytrac.dbo.RecorderImport</value>
      </setting>
      <setting name="AVMTable" serializeAs="String">
        <value>realtytrac.dbo.AVMEquityImport</value>
      </setting>
      <setting name="AVMPrefix" serializeAs="String">
        <value>AVM_</value>
      </setting>
      <setting name="SMTPAPIKey" serializeAs="String">
        <value>key-897c027bf628e5c669c10d9f64ae7908</value>
      </setting>
      <setting name="SshHostKeyFingerprint" serializeAs="String">
        <value>ssh-rsa 2048 01:8e:c9:85:ba:37:df:29:60:66:eb:af:be:b2:b0:fd</value>
      </setting>
      <setting name="GlobalLogFile" serializeAs="String">
        <value>D:\RealtyTrac\Incoming\GlobalLogs</value>
      </setting>
    </attomdataloader.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <attomdataloader.Properties.Settings>
      <setting name="FTPAddress" serializeAs="String">
        <value>sftp1.realtytrac.com</value>
      </setting>
      <setting name="FTPPort" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="FTPUserName" serializeAs="String">
        <value>Reipro</value>
      </setting>
      <setting name="FTPPassword" serializeAs="String">
        <value>GPazYk7!</value>
      </setting>
      <setting name="FTPDownloadDir" serializeAs="String">
        <value>outgoing</value>
      </setting>
    </attomdataloader.Properties.Settings>
  </applicationSettings>
</configuration>
